#about {
  margin: auto;
  margin-top: 10vh;
  line-height: 35px;
  width: 60%;
}

#email-link {
  color: #face54;
  text-decoration-style: wavy;
}

#headshot {
  display: block;
  width: 300px;
  max-width: 50vw;
  margin: 0 auto 5vh auto;
  border-radius: 50%;
  border: solid #FFDB77;
  border-width: 5px;
}