#about {
  margin: auto;
  margin-top: 5vh;
  line-height: 35px;
  width: 60%;
}

#email-link {
  color: #F58F00;
  text-decoration-style: wavy;
}

#headshot {
  display: block;
  width: 300px;
  margin: 0 auto 5vh auto;
  border-radius: 50%;
}

@media only screen and (max-width : 768px) {
  #about {
    margin-top: 34vw;
  }
}