#navbar {
  font-size: 35px;
  font-weight: 600;

}

#navbar-avatar {
  width: 115px;
  vertical-align: middle;
  border-radius: 45%;
}

#navbar-title {
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-weight: 800;
}



