
#navbar-header-avatar {
  border: 3px solid;
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 0.6);
  width: 200px;
  margin: auto;
}

#navbar a:hover {
  color: #840032
}

#navbar a img {
  width: 30px;
}

#navbar {
  background-color: #FFB347;
  color: #141514;
  padding-top: 5%;
  height: 100%; 
  width: 350px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden;
}

#navbar * {
  display: block;
}

#navbar a {
  text-decoration: none;
  font-size: 1.5rem;
  text-decoration: none;
  color: #141514;
  font-weight: 400;
  transition: 0.2s;
}

#navbar-links a {
  padding: 6px 8px 6px 20px;
  margin: 5px 0 5px 30px;
}

#navbar-links {
  margin-top: 25px;
}

#navbar-header-title {
  font-size: 3.5rem;
  font-weight: 900;
  margin-left: 0;
  margin-top: 0;
  padding: 0 auto;
  text-align: center;
}

#navbar-header-hamburger {
  display: none;
}

#footer {
  width: 80%;
  margin: 50px auto 0 auto;
}

#footer a {
  display: inline-block;
  padding: 0 11%;
}

/* Mobile Phones */ 
@media only screen and (max-width : 1280px) {
  #navbar {
    overflow: hidden;
    position: relative;
    align-items: center;
    padding: 2vh 10vw 2vh 10vw;
    width: 80vw;
    height: auto;
    position: fixed;
    height: auto;
  }

  #navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #navbar-header-left {
    display: flex;
    align-items: center;
  }
  
  #navbar-links {
    display: none;
    margin-top: 10px;
  }

  #navbar a {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0.25rem 0;
  }

  #navbar-header-avatar {
    width: 8vh;
    margin-right: 2vw;
  }
  
  #navbar-header-title {
    font-size: 5vw;
    font-weight: 900;
  }

  #navbar-header-hamburger {
    margin-right: 4px;
    display: block;
  }

  #footer a {
    display: inline-block;
    margin: 0 auto;
    width: 33%;
  }

  #footer img {
    margin: 0 auto;
    width: 33%;
  }
  
  #footer {
    margin-top: 2rem;
    display: none;
    width: 80%;
  }
}