#App {
  font-family: 'Dosis', sans-serif;
  font-size: 1.25em;
}

.main {
  margin-left: 350px;
  padding: 0px 10px;
}

/* Mobile */
@media only screen and (max-width : 1280px) {
  .main {
    margin-left: 0;
    padding: 0px 10px;
  }

  #App {
    margin: 0;
  }
}